$config{"x86 realmode"} = {
	gcc => 'gcc',
	objdump => 'objdump',
	objdump_Moption => 'i8086',
	byteorder => 'le',
};

$config{x86} = {
	gcc => 'gcc',
	objdump => 'objdump',
	byteorder => 'le',
};

$config{powerpc} = {
	gcc => "/data/home/hellwolf/dirs/apps/ycross/targets/powerpc-elf_freestanding/bin/powerpc-ycross-elf-gcc",
	objdump => "/data/home/hellwolf/dirs/apps/ycross/targets/powerpc-elf_freestanding/bin/powerpc-ycross-elf-objdump",
	byteorder => 'be',
};
